<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1> {{title}} </h1>
		
		<div class="message" v-if="message">{{ message }}</div>
		
		<div class="new-note">
			<input v-model="newNote.title" :placeholder="newNote.titlePlaceholder" type="text">
			<textarea  v-model="newNote.description" :placeholder="newNote.descriptionPlaceholder" name="" id="" cols="30" rows="10"></textarea>
			<button type="button" @click="addNote">Опубликовать</button>
		</div>
		
        <div class="notes">
            <div class="note" v-for="(note, idx) in notes" :key="idx">
                <div class="note-header">
                    <p>{{ note.title }}</p>
                </div>      
				<div class="note-body">
					<p>{{ note.descr }}</p>
					<span>{{ note.date }}</span>
				</div>          
            </div>
        </div>
    </div>
    
    
    <script>
		var app = new Vue({
			el: '#app',
			data: {
				title: 'Notes App',
				message: null,
				newNote: {
					title: "",
					titlePlaceholder:"Введите заголовок",
					description: "",
					descriptionPlaceholder: "Текст заметки"
				},
				notes: [
					{
						title: "First Note",
						descr: "Decription for First Note",
						date: new Date().toLocaleString()
					},
					{
						title: "Second Note",
						descr: "Decription for Second Note",
						date: new Date().toLocaleString()
					},
					{
						title: "Third Note",
						descr: "Decription for Third Note",
						date: new Date().toLocaleString()
					}
				]
			},
			methods: {
				addNote() {
					let {title, description} = this.newNote;
					
					if (title === "") {
						this.message = "Заполни заголовок";
						return false
					};
					
					this.notes.push({
						title,
						description,
						date: new Date().toLocaleString()
					});
					this.message = null;
					this.newNote.title = "";
					this.newNote.description = "";
				}
			}
		})
    </script>
</body>
</html>